body {
    background-color: lightgrey;
}

img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    -width: 100%;
    text-align: center;
}

p {
    justify-content: center;
}

#title {
    text-align: center;
}